#********************************************************************
# lindner
# 3.7
# 1993/08/12 06:32:43
# /home/mudhoney/GopherSrc/CVS/gopher+/gopher/gopher.rc,v
# Exp
#
# Paul Lindner, University of Minnesota CIS.
#
# Copyright 1991, 1992 by the Regents of the University of Minnesota
# see the file "Copyright" in the distribution for conditions of use.
#********************************************************************
# MODULE: gopher.rc
# Global rc file for gopher client
#*********************************************************************
# Revision History:
# gopher.rc,v
# Revision 3.7  1993/08/12  06:32:43  lindner
# Fix for x-troff
#
# Revision 3.6  1993/07/27  05:28:50  lindner
# Mondo Debug overhaul from Mitra
#
# Revision 3.5  1993/07/23  04:36:21  lindner
# Postscript printing mods
#
# Revision 3.4  1993/04/15  21:28:11  lindner
# Mods for richtext
#
# Revision 3.3  1993/02/19  21:08:58  lindner
# Added audio/mulaw, and changed defs for gif and ppm to use the '|'
# command.
#
# Revision 3.2  1993/02/18  23:37:27  lindner
# Added header info...
#
#
# Map gopher+ types to local commands
#
# format is:
# map: gplusview,view command,printcommand
#
map: Audio/basic,|play -v 40 -&,
map: image/gif,|xv,|giftoppm |pnmtops | lpr
map: image/ppm,|xv,|pnmtops | lpr
map: Text/x-dvi,xdvi %s,lpr %s
map: application/postscript,gspreview %s,lpr %s
map: Text/x-troff,nroff %s|more -d,ptroff %s
map: Text/richtext,richtext %s|Less -f -r,lpr %s
#
# Set preference values for each gopher+ type
#
# format is
#
# prefer: default|gplusview pref value
#
#prefer: default 5
#prefer: image/gif 10
#prefer: image/ppm 5
