# $XFree86: mit/server/ddx/x386/Xconfig.cpp,v 2.0 1993/10/08 15:55:00 dawes Exp $
# $XConsortium: Xconfig,v 1.2 91/08/26 14:34:55 gildea Exp $
#
# Copyright 1990,91 by Thomas Roell, Dinkelscherben, Germany.
# Copyright 1992,93 by David Dawes, David Wexelblat
#
# Permission to use, copy, modify, distribute, and sell this software 
# and its documentation for any purpose is hereby granted without fee, 
# provided that the above copyright notice appear in all copies and 
# that both that copyright notice and this permission notice appear in 
# supporting documentation, and that the names of the above listed authors 
# not be used in advertising or publicity pertaining to distribution of 
# the software without specific, written prior permission.  The above 
# listed authors make no representations about the suitability of this 
# software for any purpose.  It is provided "as is" without express or 
# implied warranty.
#
# THE ABOVE LISTED AUTHORS DISCLAIM ALL WARRANTIES WITH REGARD TO THIS 
# SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND 
# FITNESS, IN NO EVENT SHALL THE ABOVE LISTED AUTHORS BE LIABLE FOR 
# ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER 
# RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF 
# CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN 
# CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
# Author:  Thomas Roell, roell@informatik.tu-muenchen.de
#
# Extensive modifications by the XFree86 Core Team

# **********************************************************************
# Refer to the Xconfig(4/5) man page for details about the format of 
# this file. This man page is installed as /usr/X386/man/cat5/Xconfig.0 
# **********************************************************************

# **********************************************************************
# Generic parameters section
# **********************************************************************

#
# some nice paths, to avoid conflicts with other X-servers
#
RGBPath		"/usr/X386/lib/X11/rgb"

#
# Multiple FontPath entries are allowed (which are concatenated together),
# as well as specifying multiple comma-separated entries in one FontPath
# command (or a combination of both methods)
#
FontPath	"/usr/X386/lib/X11/fonts/misc/"
FontPath	"/usr/X386/lib/X11/fonts/Type1/"
FontPath	"/usr/X386/lib/X11/fonts/Speedo/"
FontPath	"/usr/X386/lib/X11/fonts/75dpi/"
# FontPath	"/usr/X386/lib/X11/fonts/100dpi/"

#
# Uncomment this to cause a core dump at the spot where a signal is 
# received.  This may leave the console in an unusable state, but may
# provide a better stack trace in the core dump to aid in debugging
#
# NoTrapSignals

# **********************************************************************
# Input devices
# **********************************************************************

#
# Enable this to use the XQUEUE driver for keyboard and mouse handling
# under System V.  This may go away in the future.
#
# Note - If you use XQUEUE, you must comment out the keyboard and
#        mouse definitions.
#
# Xqueue

#
# Keyboard and various keyboard-related parameters
#
Keyboard
  AutoRepeat 500 5
  ServerNumLock
#  Xleds      1 2 3
#  DontZap
#
# To set the LeftAlt to Meta, RightAlt key to ModeShift, 
# RightCtl key to Compose, and ScrollLock key to ModeLock:
# 
#  LeftAlt     Meta
#  RightAlt    ModeShift
#  RightCtl    Compose
#  ScrollLock  ModeLock

#
# Mouse definition and related parameters
#
Logitech	"/dev/com1"
#  BaudRate	9600
#  SampleRate	150
#  Emulate3Buttons

# **********************************************************************
# Graphics drivers
# **********************************************************************

#
# The 8-bit colour SVGA driver
#
VGA256

#
# To disable SpeedUp, use NoSpeedUp
#
#  NoSpeedUp
#  Virtual	1152 900

  Virtual	1024 1024
  ViewPort      0 0
  Modes	        "1024x768" "800x600" "640x480"

# 
# The 16-colour VGA driver
#
VGA16
  Virtual 	800 600
  Viewport 	0 0 
  Modes		"640x480"

#
# The 1-bit mono SVGA driver
#
VGA2

  Virtual	800 600
  ViewPort      0 0
  Modes	        "640x480"
#  Modes        "800x600" "640x480"

#
# The Hercules driver.  For Hercules, the only valid configuration option
# is ScreenNo (refer to the manual page).
#
# HGA2

#
# The alternate monochrome driver.  Refer to the XF86_Mono manual page.
#
# BDM2

# 
# The accelerated servers (S3, Mach32, Mach8, 8514)
#
ACCEL

  Virtual 	1024 768
  Viewport	0 0
  Modes		"1024x768" "800x600" "640x480"

#
# For boards with a programmable clock generator, you use a line like:
#
# Clocks "icd2061a"

# **********************************************************************
# Database of video modes
# **********************************************************************
ModeDB
# name        clock   horizontal timing     vertical timing      flags

#
# Refer to README.Config, modeDB.txt, and VideoModes.doc for actual
# modes, and information on how to calculate and adjust them.  
#
# DO NOT BLINDLY USE VIDEO MODES WITHOUT UNDERSTANDING WHAT YOU ARE
# DOING.  IT IS POSSIBLE TO DAMAGE THE MONITOR.  THE XFree86 CORE TEAM
# DISCLAIMS ALL LIABILITY FOR MONITOR DAMAGE, AS THE DOCUMENTATION
# ACCOMPANYING XFree86 HAS BEEN VERIFIED TO CONTAIN VALID AND SAFE
# MODES, AS LONG AS ONLY ONES WITHIN DOCUMENTED MONITOR SPECIFICATIONS
# ARE USED.
#
